<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/hibernate2</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- 配置c3p0数据源 -->
        <!-- 配置c3p0数据源提供者，在低版本的hibernate中为了保险起见还需要配置此属性-->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.max_size">2</property>
        <property name="hibernate.c3p0.timeout">50000</property>
        <property name="hibernate.c3p0.acquire_increment">2</property>
        
        <!-- 配置数据库的隔离级别
        隔离级别:
	    1.读未提交,导致脏读/不可重复读/幻读
	    2.读已提交,避免了脏读,还能导致不可重复读/幻读(oracle)
	    4.可以重复读,导致幻读(mysql)
	    8.串行化,悲观锁.不支持并发.
         -->
        <!-- <property name="hibernate.connection.isolation">4</property> -->
        
        <mapping resource="com/zeek/hibernate/domain/Area.hbm.xml"/>
        <mapping resource="com/zeek/hibernate/domain/Customer.hbm.xml"/>
        <mapping resource="com/zeek/hibernate/domain/Order.hbm.xml"/>
        
        <mapping resource="com/zeek/hibernate/domain/inherit/joined/Employee.hbm.xml"/>
        <mapping resource="com/zeek/hibernate/domain/inherit/single/Employee.hbm.xml"/>
        <mapping resource="com/zeek/hibernate/domain/inherit/union/Employee.hbm.xml"/>
        
        <mapping resource="com/zeek/hibernate/domain/many2many/Student.hbm.xml"/>
        <mapping resource="com/zeek/hibernate/domain/many2many/Teacher.hbm.xml"/>
        
        <mapping resource="com/zeek/hibernate/domain/one2one/fk/Addr.hbm.xml"/>
        <mapping resource="com/zeek/hibernate/domain/one2one/fk/User.hbm.xml"/>
        <mapping resource="com/zeek/hibernate/domain/one2one/pk/Addr.hbm.xml"/>
        <mapping resource="com/zeek/hibernate/domain/one2one/pk/User.hbm.xml"/>
    
    </session-factory>
</hibernate-configuration>